##=============================================================================
## UCLDC specific configuration file
##=============================================================================

#nuxeo.url=https://nuxeo.cdlib.org/nuxeo

##-----------------------------------------------------------------------------
## database
##-----------------------------------------------------------------------------
nuxeo.db.name=nuxeo
nuxeo.db.user=nuxeo
nuxeo.db.password=*******
nuxeo.db.host=*******
nuxeo.db.port=5432

##-----------------------------------------------------------------------------
## redis
##-----------------------------------------------------------------------------
nuxeo.redis.enabled=true
nuxeo.redis.host=*******
nuxeo.redis.prefix=nuxeo2021:

##-----------------------------------------------------------------------------
## elasticsearch
##-----------------------------------------------------------------------------
elasticsearch.addressList=*******

##-----------------------------------------------------------------------------
## S3 data storage
##-----------------------------------------------------------------------------
nuxeo.s3storage.bucket=*******
nuxeo.s3storage.region=*******
nuxeo.s3storage.cachesize=850GB
# the following is optional
#nuxeo.s3storage.bucket_prefix=yourfolder/

nuxeo.s3storage.directdownload=true
nuxeo.s3storage.directdownload.expire=3600
nuxeo.s3storage.pathstyleaccess=true

##-----------------------------------------------------------------------------
## Mail settings (for notifications)
##-----------------------------------------------------------------------------
nuxeo.notification.eMailSubjectPrefix="[Nuxeo]"

mail.transport.protocol=smtp
mail.transport.ssl.protocol=TLSv1.2
mail.transport.host=email-smtp.us-west-2.amazonaws.com
mail.transport.port=25
mail.transport.usetls=true

mail.transport.auth=true
mail.transport.user=*******
mail.transport.password=*******

mail.from=oacops@cdlib.org

#mail.debug=true

##-----------------------------------------------------------------------------
## data, log and temp directories inside the docker container
## see https://doc.nuxeo.com/nxdoc/setup-best-practices/#mounting-data-log-and-temporary-directories-as-volumes
##-----------------------------------------------------------------------------
nuxeo.log.dir=/var/log/nuxeo
nuxeo.tmp.dir=/tmp
nuxeo.data.dir=/var/lib/nuxeo

##-----------------------------------------------------------------------------
## Clustering
## https://doc.nuxeo.com/nxdoc/nuxeo-server-architecture/#configuration
##-----------------------------------------------------------------------------
#nuxeo.cluster.enabled=true
#nuxeo.cluster.nodeid=...